body {
    background-image: url("../images/bkg1.jpg");

}
p.blocktext {

}

/*.page-header {
    content: center;
} */
.gems{
    height: 20%%;
    width: 20%;
    
}
.container{

    background-image: url("../images/scrollbkg1.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 800px;
}
#scrollRules {
    
   background-size: 300px;
   color: red;
   font-family: 'Berkshire Swash', cursive;
}
#logo {
    position: center;
}